<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>Layout page</title>  	
  	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
  	<script src="/webjars/jquery/jquery.min.js"></script>
  	<script src='/webjars/bootstrap/js/bootstrap.min.js'></script>
</head>
<body>
  <header>
  	<div class="container">
	  	<div class="float-right">
	  		<a th:href="@{/}" th:text="#{lang.change}">English</a>
	  	</div>
  	</div>
  </header>
  <section layout:fragment="content">
    <p>Page content goes here</p>
  </section>
  <footer>
  	<div class="container">
    	<p>My footer</p>
    	<p layout:fragment="custom-footer">Custom footer here</p>
    </div>
  </footer>  
</body>
</html>