<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>Layout page</title>  	
  	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/theme_1612382526464.css">
  	<script src="/webjars/jquery/jquery.min.js"></script>
  	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>  	
</head>
<body>
  <header>
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-lg-12">
		  		<div class="float-right">
			  		<a th:href="@{__${#httpServletRequest.requestURI}__?lang=__#{lang.other}__}" th:text="#{lang.change}">English</a>
			  	</div>
  			</div>
  		</div>	  		  	
  	</div>
  </header>
  <section layout:fragment="content">
    <p>Page content goes here</p>
  </section>
  <footer>  	
  		<nav class="navbar fixed-bottom navbar-dark bg-dark d-none d-sm-block">  						
	  			<div class="container">  				
	  					<span class="navbar-text">&copy; Copyright 2021 - Poivre des Îles</span>
	  					<span class="navbar-text" th:text="|Version ${buildVersion}-${gitCommitId}|">Version</span>  				
	  			</div>	  		
		</nav>    	
    	<!-- <p layout:fragment="custom-footer">Custom footer here</p> -->    
  </footer>  
</body>
</html>