<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="_csrf" th:attr="content=${_csrf.token}" />
	<meta name="_csrf_header" th:attr="content=${_csrf.headerName}" />
	
	<!-- /* Favicon */ -->	
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/image/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/image/site.webmanifest}">
	<link rel="mask-icon" th:href="@{/image/safari-pinned-tab.svg}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
	<title>Layout page</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/theme_1613591810408.css">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
    			<img th:src="@{/image/LogoPDI.png}" width="69" height="38" alt="Poivre des iles">
  			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active" th:if="${menuShowHome}">
						<a class="nav-link active" th:href="@{/}" th:text="#{menu.home}">Home <span class="sr-only">(current)</span></a></li>
					<li class="nav-item" th:if="${menuShowSales}">
						<a class="nav-link" th:href="@{/ventes}" th:text="#{menu.sales}">Sales</a>
					</li>
					<li class="nav-item" th:if="${menuShowOrder}" th:classappend="(${#request.getServletPath()} == '/commande')? 'active' : ''">						
						<a class="nav-link" th:href="@{/commande}" th:text="#{menu.order}">Order</a>
					</li>
				</ul>
				<ul th:if="${seller}" class="navbar-nav mr-auto">
					<li class="nav-item font-weight-bold" th:text="|#{campaign.expected.duedate} : ${seller.formattedPdiCampaignDueDate}|">date de fin de campagne prevue: 15/09/2021</li>					
				</ul>
				<form id="logoutForm" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
					<a th:href="@{__${#httpServletRequest.requestURI}__?lang=__#{lang.other}__}"
						th:text="#{lang.change}">English</a>
					<button class="btn btn-link my-2 my-sm-0" type="submit" th:text="#{logout}">Logout</button>
				</form>
			</div>
		</nav>
	</header>
	<script th:inline="javascript">
	$(function(){		
		// Add CSRF token for all ajax calls
		var token = $("meta[name='_csrf']").attr("content");
   	    var header = $("meta[name='_csrf_header']").attr("content");
   	    $(document).ajaxSend(function (e, xhr, options) {
   	        xhr.setRequestHeader(header, token);
   	    });
	});
	</script>
	<section layout:fragment="content">
		<p>Page content goes here</p>
	</section>
	<footer>
		<nav class="navbar fixed-bottom navbar-dark bg-dark d-none d-sm-block">
			<div class="container">
				<span class="navbar-text">&copy; Copyright 2021 - Poivre des Îles</span> 
				<span class="navbar-text" th:text="|Version ${buildVersion}-${gitCommitId}|">Version</span>
			</div>
		</nav>
		<!-- <p layout:fragment="custom-footer">Custom footer here</p> -->
	</footer>
</body>
</html>