<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic-layout}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>  
  <style>
  	.img-logo { width: 300px; height: auto; display:block;}
  	.bordered-form { border: 1px solid black;  padding: 5px;}
  </style>
</head>
<body>
  <section layout:fragment="content">
  	<div class="container-fluid">  		
  		<div class="row mt-3">
  			<div class="col-lg-4">
  				<img th:src="@{/image/LogoPDI.png}" class="img-logo mx-auto img-fluid"></img>
  			</div>
  			<div class="col-lg-4">  								  			
  				<h1 class="text-center pt-5" th:text="#{login.titre}">Campagnes de financement</h1>  				
  			</div>  			
  		</div>
  		<div class="row">
  			<div class="col-lg-4"></div>
  			<div class="col-lg-4">
  				<div class="card">
  					<div class="card-body">
			  			 <form th:action="@{/login}" method="post">
				            <div class="form-group">
				            	<label for="username" th:text="#{login.username}">Username</label>
				            	<input type="text" name="username" id="username" th:placeholder="#{login.username.placeholder}" class="form-control"/>
				            </div>
				            <div class="form-group">
				            	<label for="password" th:text="#{login.password}">Password</label>
				            	<input type="password" name="password" id="password" th:placeholder="#{login.password.placeholder}" class="form-control"/>
				            </div>
				            <div class="text-center mt-3">
				            	<button type="submit" class="btn btn-primary" th:text="#{login.button}">Enter</button>
				            </div>
				            <div class="text-center mt-3">
				            	<a href="/" th:text="#{login.cancel}">Cancel</a>
				            </div>
				        </form>
			       	</div>
			     </div>
  			</div>
  		</div>
  	</div>  	    
  </section>
  <footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
  </footer>
</body>
</html>