<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{pdi.order}">pdi commande</title>       
  <script th:src="${#arrays.contains(@environment.getActiveProfiles(), 'prod')} ? '/js/rxp-js.min.js' : '/js/rxp-js.js'"></script>
</head>
<body>
  <section class="p-lg-3" layout:fragment="content">
  	<div class="container-fluid"> 
  		<div th:replace="fragments/order-header :: header"></div>
  		<div th:replace="fragments/order-items :: items"></div>
  	</div>
  	<script th:inline="javascript">
  		$('#logoutForm').on('submit', function(){
  			sessionStorage.clear();
  			return true;
  		});
  	</script>
  </section>
 </body>
 </html>