<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div th:fragment="import">
			<!--/* Messages */-->
			<div class="row mt-3">
				<div class="col-md-12">
					<div class="alert alert-info d-none" id="import-msg-success">L'importation des nouveaux groupes a reussi</div>
					<div class="alert alert-warning d-none" id="import-msg-error">L'importation des nouveaux groupes a echoue</div>
				</div>
			</div>
			<div id="spinning" class="d-none">
				<div class="d-flex align-items-center">
	  				<strong class="text-success" th:text="#{loading}">Loading...</strong>  				
	  				<div class="spinner-border text-success ml-auto" role="status" aria-hidden="true"></div>
				</div>
			</div>			
			<!-- /* Sections and products import */ -->
			<div class="row mt-3">
				<div class="col-md-12">
					<h4 th:text="#{admin.import.folder}">Importer tout</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pt-2">					
					<span th:text="#{admin.import.last}">Dernier import le</span><span id="prodLastImport" th:text="${sectionsAndProductsLastImport}">2021/12/12</span>									
				</div>				
				
				<div class="col-md-5">																								
						<div class="fileBtn btn btn-outline-success px-lg-3">
							<label for="inputFolder" th:text="#{admin.import.select}">Sélectionnez le répertoire des fichiers</label>
							<input id="inputFolder" class="upload d-none" type="file" accept=".csv" webkitdirectory multiple />
						</div>					  							
				</div>
			</div>			
			<div class="row">
				<div class="col-md-8 offset-md-4">
					<p class="text-primary" th:if="${showWarning}" th:text="#{admin.import.warning}">Attention: campagne(s) en cours...</p>					
				</div>							
			</div>	
			<!-- /* Image of all Products import */ -->
			<div class="row mt-4">
				<div class="col-md-12">
					<h4 th:text="#{admin.import.productsImage}">photo produits</h4>
				</div>
			</div>		
			<div class="row">
				<div class="col-md-4 pt-2">
				</div>
				<div class="col-md-5">
					<img th:src="|@{/api/file/}?description=products|" class="img-products" />					
					<div class="imgFileBtn btn btn-outline-success px-lg-3">
						<label for="productsImage" th:text="#{admin.import.select.products}">Sélectionnez image produits</label>
						<input id="productsImage" class="upload-products d-none" type="file" accept="image/*" />
					</div>
				</div>
			</div>						
			
			<script th:inline="javascript">
			$(function(){		   	    	
				const FILETYPES = ["SECTION","PRODUIT","TYPEBC","CAMPAGNE","GROUPE","VENDEUR","LIENGROUPE"];					
				
				// Error in the selector: fileBtn is a CSS class, so this event never gets called !!!
				$('fileBtn').on('click', function(){
					$(this).children('input.upload').trigger('change');
				});
				
				// Error in the selector: imgfileBtn is a CSS class, so this event never gets called !!!
				$('imgFileBtn').on('click', function(){
					$(this).children('input.upload-products').trigger('change');
				});
				
				$('.upload').on('change', function(){		
					$('#spinning').removeClass('d-none');
					let files = this.files;
					
					let allFiles = {};
					for(let i=0; i<files.length; i++){						
						let file = files[i];
						// Validate its a CSV
						if(file.name.match(/.csv/)){								
							// Validate its name starts with the file type	
							let fileType = file.name.toUpperCase().match(/SECTION|PRODUIT|TYPEBC|CAMPAGNE|GROUPE|VENDEUR|LIENGROUPE/);
							if(fileType && fileType.index >= 0){
								allFiles[fileType[0]] = file;
							} else {
								console.log("File type not found in file name : " + file.name);
							}							
						} else {
							console.log("Discarding file" + file.name + " because not of expected type.");
						}
					}
					uploadAllInOrder(allFiles);
					
				});
								
				
				async function uploadAllInOrder(allFiles){					
					if(allFiles){
						let messages = [];
						// Upload them in order
						for(let i=0; i< FILETYPES.length; i++){
							if(allFiles[FILETYPES[i]]){
								try{
									messages[i] = await uploadFile(FILETYPES[i], allFiles[FILETYPES[i]]);	
								}								
								catch(err){
									$('#spinning').addClass('d-none');
									console.log(err.responseJSON);
									if(err.responseJSON && err.responseJSON.message){
										displayError(err, '#import-msg-error', `ERREUR : ${err.responseJSON.message}`);	
									} else {
										displayError(err, '#import-msg-error', /*[[#{admin.import.error}]]*/ 'Erreur');
									}
								}
							}	
						}		
						$('#spinning').addClass('d-none');
						displaySuccess('#import-msg-success', messages.map((m)=>m.message).join("  "));	
					}					
				}
				
				function uploadFile(fileType, file){
					// Ajax call to upload this file
					let fd = new FormData();
					fd.append('file', file);					
					let url = /*[[@{/api/file/data/upload}]]*/ '';
					console.log(`Uploading file ${fileType}`);
					return $.post({
						url: `${url}?fileType=${fileType}`,
						data: fd,
						contentType: false,						
						processData: false,
						success: function(result) {
							//$('#spinning').addClass('d-none');
							//displaySuccess('#import-msg-success', result.message);									
							const selector = 'span#prodLastImport';									
							$(selector).text(result.lastImportDate);
						}
					});										
				}
				
				
				$('.upload-products').on('change', function(){		
					$('#spinning').removeClass('d-none');
					let file = this.files[0];
					let fd = new FormData();
					fd.append('file', file);					
					let url = /*[[@{/api/file/upload}]]*/ '';
					console.log(`Uploading file...`);
					return $.post({
						url: `${url}?description=products`,
						data: fd,
						contentType: false,						
						processData: false,
						success: function(result) {
							$('#spinning').addClass('d-none');
							displaySuccess('#import-msg-success', result.message);	
							// Refresh image
							$('.img-products').attr('src', $('.img-products').attr('src') + '&t=' + new Date().getTime());
						}
					})
					.fail(function(err){
						$('#spinning').addClass('d-none');
						console.log(err.responseJSON);
						if(err.responseJSON && err.responseJSON.message){
							displayError(err, '#import-msg-error', `ERREUR : ${err.responseJSON.message}`);	
						} else {
							displayError(err, '#import-msg-error', /*[[#{admin.import.error}]]*/'Erreur');
						}
					});;
				});
			});
			</script>
			
		</div>		
	</body>
</html>