<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div th:fragment="import">
			<!--/* Messages */-->
			<div class="row mt-3">
				<div class="col-md-12">
					<div class="alert alert-info d-none" id="msg-success">L'importation des nouveaux groupes a reussi</div>
					<div class="alert alert-warning d-none" id="msg-error">L'importation des nouveaux groupes a echoue</div>
				</div>
			</div>
			<!-- /* Sections and products import */ -->
			<div class="row mt-3">
				<div class="col-md-12">
					<h4 th:text="#{admin.import.products}">importer des sections</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pt-2">					
					<span th:text="#{admin.import.last}">Dernier import le</span><span id="prodLastImport" th:text="${sectionsAndProductsLastImport}">2021/12/12</span>									
				</div>				
				<div class="col-md-3 pt-2">					
					<span th:text="#{admin.import.file}">importer par fichier</span>
				</div>
				<div class="col-md-5">														
					<div class="btn-group" role="group" aria-label="Import files">
						<div class="btn btn-outline-success px-lg-3">
							<label for="sectionFile">Section</label>
							<input id="sectionFile" class="upload d-none" type="file" data-file-type="SECTION">
						</div>					  
						<div class="btn btn-outline-success px-lg-3">
							<label for="productFile">Produit</label>
							<input id=productFile class="upload d-none" type="file" data-file-type="PRODUCT">
						</div>
						<div class="btn btn-outline-success px-lg-3">
							<label for="typeBcFile">TypeBC</label>
							<input id=typeBcFile class="upload d-none" type="file" data-file-type="ORDERTYPE">
						</div>					  
					</div>					
				</div>
			</div>				
			<div class="row">
				<div class="col-md-5 offset-md-7">
					<i class="fas fa-arrow-right"></i>&nbsp;<span th:text="#{admin.import.inorder}">Suivez l'ordre</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-4">
					<p class="text-primary" th:if="${showWarning}" th:text="#{admin.import.warning}">Attention: campagne(s) en cours...</p>					
				</div>							
			</div>
			<!-- /* Groups and sellers import */ -->
			<div class="row mt-5">
				<div class="col-md-12">
					<h4 th:text="#{admin.import.groups}">importer des groupes</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 pt-2">					
					<span th:text="#{admin.import.last}">Dernier import le</span><span id="groupLastImport" th:text="${groupsAndSellersLastImport}">2021/12/12</span>									
				</div>				
				<div class="col-md-3 pt-2">					
					<span th:text="#{admin.import.file}">importer par fichier</span>
				</div>
				<div class="col-md-5">
					<div class="btn-group" role="group" aria-label="Import files">
					  <div class="btn btn-outline-success px-lg-3">
					  	<label for="campaignFile">Campagne</label>
						<input id="campaignFile" class="upload d-none" type="file" data-file-type="CAMPAIGN">
					  </div>
					  <div class="btn btn-outline-success px-lg-3">
					  	<label for="groupFile">Groupe</label>
						<input id="groupFile" class="upload d-none" type="file" data-file-type="GROUP">
					  </div>
					  <div class="btn btn-outline-success px-lg-3">
					  	<label for="sellerFile">Vendeur</label>
						<input id="sellerFile" class="upload d-none" type="file" data-file-type="SELLER">
					  </div>
					  <div class="btn btn-outline-success px-lg-3">
					  	<label for="groupLinkFile">LienGroupe</label>
						<input id="groupLinkFile" class="upload d-none" type="file" data-file-type="GROUPLINK">
					  </div>					  
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-5 offset-md-7">
					<i class="fas fa-arrow-right"></i>&nbsp;<span th:text="#{admin.import.inorder}">Suivez l'ordre</span>
				</div>
			</div>
			
			<script th:inline="javascript">
			$(function(){		   	    						   	    
				$('.upload').change(function(){					
					// Ajax call to upload this file					
					let fileToUpload = this.files[0];
					let fileType = $(this).data('fileType');
					let fd = new FormData();
					fd.append('file', fileToUpload);					
					let url = /*[[@{/api/file/upload}]]*/
					$.post({
						url: `${url}?fileType=${fileType}`,
						data: fd,
						contentType: false,						
						processData: false,
						success: function(result) { 
							displaySuccess('#msg-success', result.message);
							var updatedDate = new Date();
							var selector = 'span#groupLastImport';
							if(fileType === "SECTION" || fileType === "PRODUCT" || fileType === "ORDERTYPE"){								
								selector = 'span#prodLastImport';
							}
							$(selector).text(result.lastImportDate);
						}
					})
					.fail(function(err){ displayError(err, '#msg-error', /*[[#{admin.import.error}]]*/'Erreur')});
				});
			});
			</script>
			
		</div>		
	</body>
</html>