<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div th:fragment="export">
			<!--/* Messages */-->
			<div class="row mt-3">
				<div class="col-md-12">
					<div class="alert alert-info d-none" id="export-msg-success">L'exportation des bons de commande a reussi</div>
					<div class="alert alert-warning d-none" id="export-msg-error">L'exportation des bons de commande a echoue</div>
				</div>
			</div>
			<!-- /* Export */ -->
			<div class="row mt-3">
				<div class="col-md-12">
					<h4 th:text="#{admin.export.subtitle}">exporter les BC</h4>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-10 offset-lg-2">
					<h5 class="text-center" th:text="#{campaigns.closed}">campagnes terminees</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-2">
					<!-- /* Use Datatables for Ajax display */ -->
					<table id="closedCamp2" class="table table-bordered table-striped" style="width:100%">
						<thead class="thead-light">
							<tr>
								<th th:text="#{campaign.duedate}">date limite</th>
								<th th:text="#{campaign.closeddate}">date terminee</th>
								<th th:text="#{campaign.number}">numero</th>
								<th th:text="#{campaign.organization}">organisme</th>
								<th th:text="#{campaign.project}">projet</th>
								<th th:text="#{admin.action}">action</th>
								<th th:text="#{campaign.lastexport}">dernier export</th>
							</tr>
						</thead>						
					</table>
				</div>
			</div>
			
			<script th:inline="javascript">
				
				var exportButtonLabel = /*[[#{admin.export}]]*/'exporter';
				
				// Link button event handlers
				function initExportButtonHandlers(){
					$('button.action-export').off();
					$('button.action-export').on('click', function(){
						const id = $(this).data('id');
						const orderHeaderFilename = $(this).data('orderHeaderFilename');
						const orderDetailFilename = $(this).data('orderDetailFilename');
						exportCampaign({id, orderHeaderFilename, orderDetailFilename});
					});
				}
				
				function exportCampaign(campaign){										
					let headerFilename = campaign.orderHeaderFilename;
					let detailFilename = campaign.orderDetailFilename;
					
					if(headerFilename){
						let url = /*[[@{/api/campaign/}]]*/'/api/campaign/';
						url = url + campaign.id + '/download/headers?filename=' + headerFilename;
						window.open(url);
					} else {
						displayDisappear('#export-msg-error', /*[[#{error.csv.filename}]]*/'Erreur')
					}
					
					if(detailFilename){
						let url = /*[[@{/api/campaign/}]]*/'/api/campaign/';
						url = url + campaign.id + '/download/details?filename=' + detailFilename;
						window.open(url);
					} else {
						displayDisappear('#export-msg-error', /*[[#{error.csv.filename}]]*/'Erreur')
					}
					
					setTimeout(reloadAllForExport, 3000);
				}			
				
				function exportFailureHandler (err){ 						
					console.log(err.responseJSON);
					if(err.responseJSON && err.responseJSON.message){
						displayError(err, '#export-msg-error', `ERREUR : ${err.responseJSON.message}`);	
					} else {
						displayError(err, '#export-msg-error', /*[[#{admin.action.error}]]*/'Erreur');
					}
				}
				
				function reloadAllForExport(){					
					closedCampaignsDTable2.ajax.reload();
				}
				
				
				var closedCampaignsDTable2 = $('#closedCamp2')
					.on('draw.dt', initExportButtonHandlers)
					.DataTable( 
						Object.assign({
						    ajax: {
						        url: /*[[@{/api/campaign/?active=false}]]*/'/api/campaign/',
						        dataSrc: ''
						    },
						    columns: [ 
						    	{data: 'formattedDueDate', render: function(data, type, row){
									if(type === 'sort'){
										return row.dueDate;
									} else {
										return row.formattedDueDate;
									}
						    	}},
						    	{data: 'formattedClosedDate', render: function(data, type, row){
									if(type === 'sort'){
										return row.closedDate;
									} else {
										return row.formattedClosedDate;
									}
						    	}},
						    	{data: 'number'},
						    	{data: 'organizationName'},
						    	{data: 'project'},
						    	{data: 'id', orderable: false, render: function(data, type, row){
						    		return `<button type='button'
																		class='btn btn-primary action-export'
																		data-id='${row.id}'
																		data-order-header-filename='${row.orderHeaderFilename}'
																		data-order-detail-filename='${row.orderDetailFilename}'
															>${exportButtonLabel}</button>`;
						    	}},
						    	{data: 'formattedExportDate', render: function(data, type, row){
									if(type === 'sort'){
										return row.exportDate;
									} else {
										return row.formattedExportDate;
									}
						    	}}
						    ]
						},  datatablesOptions));
				
			</script>
			
		</div>
	</body>
</html>