<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<div th:fragment="terminate">
		<!--/* Messages */-->
			<div class="row mt-3">
				<div class="col-md-12">
					<div class="alert alert-info d-none" id="msg-success">L'importation des nouveaux groupes a reussi</div>
					<div class="alert alert-warning d-none" id="msg-error">L'importation des nouveaux groupes a echoue</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-12">
					<h4 th:text="#{campaigns.active}">Campagnes actives</h4>
				</div>				
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-2">
					<!-- /* Use Datatables for Ajax display */ -->
					<table id="activeCamp1" class="table table-bordered table-striped">
						<thead class="thead-light">
							<tr>
								<th th:text="#{campaign.duedate}">date limite</th>
								<th th:text="#{campaign.number}">numero</th>
								<th th:text="#{campaign.organization}">organisme</th>
								<th th:text="#{campaign.project}">projet</th>
								<th th:text="#{admin.action}">action</th>
							</tr>
						</thead>						
					</table>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-12">
					<h4 th:text="#{campaigns.closed}">Campagnes terminees</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-2">
					<!-- /* Use Datatables for Ajax display */ -->
					<table id="closedCamp1" class="table table-bordered table-striped">
						<thead class="thead-light">
							<tr>
								<th th:text="#{campaign.duedate}">date limite</th>
								<th th:text="#{campaign.closeddate}">date terminee</th>
								<th th:text="#{campaign.number}">numero</th>
								<th th:text="#{campaign.organization}">organisme</th>
								<th th:text="#{campaign.project}">projet</th>
								<th th:text="#{admin.action}">action</th>
							</tr>
						</thead>						
					</table>
				</div>
			</div>
		</div>
	</body>
</html>