<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="modal"> 
	
	<!-- /* Close Campaign Warning Modal */ -->
	<div class="modal fade" id="closeWarning" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="closeWarningLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">	      	
	        <h5 class="modal-title" id="closeWarningLabel" th:text="#{admin.terminate.confirm.title}">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center">
	      		<h2><i class="fas fa-exclamation-triangle"></i></h2>
	      		<h3>ATTENTION</h3>	      		
	      		<h5 th:text="#{admin.terminate.warning}">La date limite n'est pas encore atteinte, voulez-vous tout de meme poursuivre?</h5>	      			      		 
	      </div>
	      <div class="modal-footer">
	      		<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{admin.cancel}">annuler</button>
	      		<button type="button" id="closeWarningConfirmed" class="btn btn-primary">OK</button>	        	
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- /* Close Campaign Confirmation Modal */ -->
	<div class="modal fade" id="closeConfirm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="closeConfirmLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">	      	
	        <h5 class="modal-title" id="closeConfirmLabel" th:text="#{admin.terminate.confirm.title}">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center">
	      		<h2><i class="fas fa-exclamation-triangle"></i></h2>
	      		<h3>ATTENTION</h3>
	      		<p th:text="#{admin.terminate.confirm.warning}">cette action est irreversible...</p>
	      		<h4 th:text="#{admin.terminate.confirm.question}">etes-vous certain de vouloir terminer ?</h4>	      			      		 
	      </div>
	      <div class="modal-footer">
	      		<button type="button" id="closeCampaignConfirmed" class="btn btn-primary" th:text="#{admin.terminate.yes}">oui</button>
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{admin.cancel}">annuler</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script th:inline="javascript">
		function closeCampaign(){
			let campaignId = $(this).data('id');
			let url = /*[[@{/api/campaign}]]*/'/api/campaign';
			$.post(`${url}/${campaignId}/close`, function(){				
				$('body').trigger('campaign-closed');				
			})
			.fail(terminateFailureHandler)
			.done(function(){
				$('#closeConfirm').modal('hide');
			});
		}
		
		function terminateFailureHandler (err){ 						
			console.log(err.responseJSON);
			if(err.responseJSON && err.responseJSON.message){
				displayError(err, '#close-msg-error', `ERREUR : ${err.responseJSON.message}`);	
			} else {
				displayError(err, '#close-msg-error', /*[[#{admin.action.error}]]*/'Erreur');
			}
		}
		
		$(function(){
			$('#closeCampaignConfirmed').on('click', closeCampaign);
			
			$('#closeWarningConfirmed').on('click', function(){
				$('#closeWarning').modal('hide');
				$('#closeConfirm').modal('show');
			});
		});
	</script>
	
	</th:block>
</body>
</html>