<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>		
	<th:block th:fragment="header">
	  		<fieldset>
    		<legend th:text="#{order.buyer.infos}">infos de l'acheteur</legend>
	  		<div class="row">
	  			<div class="col-md-6">
	  				<div class="form-group row">
		  			<label for="name" class="col-lg-2 col-form-label" th:text="|#{order.buyer.name} :|">nom:</label>
		  			<div class="col-lg-10">
		  				<input type="text" class="form-control" id="name" name="name" th:placeholder="#{order.buyer.name.help}" required>
		  				<div class="invalid-feedback" th:text="#{field.required}"></div>
		  			</div>
		  			</div>
		  		</div>
		  		<div class="col-md-6">
			  		<div class="form-group row">
			  			<label for="phone" class="col-lg-2 col-form-label" th:text="|#{order.buyer.phone} :|">telephone:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="phone" name="phone" th:placeholder="#{order.buyer.phone.help}" required>
			  				<div class="invalid-feedback" th:text="#{field.required}"></div>
			  			</div>
			  		</div>
		  		</div>
	  		</div>	  
	  		
	  		<div class="row">
	  			<div class="col-md-6">
	  				<div class="form-group row">
		  			<label for="email" class="col-lg-2 col-form-label" th:text="|#{order.buyer.email} :|">email:</label>
		  			<div class="col-lg-10">
		  				<input type="email" class="form-control" id="email" name="email" th:placeholder="#{order.buyer.email.help}" required>
		  				<div class="invalid-feedback" th:text="#{field.valid.email}"></div>
		  			</div>
		  			</div>
		  		</div>
	  			<div class="col-md-6">
		  			<div class="form-group row">
			  			<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.note} :|">note:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="note" name="note" th:placeholder="#{order.buyer.note.help}">
			  			</div>
		  			</div>
	  			</div>
	  		</div>	
	  		</fieldset>
	  		<fieldset>
    		<legend th:text="#{order.seller.infos}">infos du vendeur</legend>
	  		<div class="row">
	  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.name} :|">nom:</label>
	  			<div class="col-md-4" >
	  				<input type="text" readonly class="form-control-plaintext" id="sellerName" th:value="${seller.name}">
	  			</div>
	  			<!-- /* Display group only if it exists */ -->
	  			<th:block th:unless="${#strings.isEmpty(seller.pdiGroupName)}">
		  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.group} :|">groupe:</label>
		  			<div class="col-md-4" >
		  				<input type="text" readonly class="form-control-plaintext" id="sellerGroup" th:value="${seller.pdiGroupName}">
		  			</div>
	  			</th:block>
	  		</div>
	  		<div class="row">
	  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.organization} :|">organisme:</label>
	  			<div class="col-md-4" >
	  				<input type="text" readonly class="form-control-plaintext" id="sellerOrganization" th:value="${seller.pdiCampaignOrganization}">	  				
	  			</div>
	  		</div>
	  		<div class="row">
	  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.project} :|">projet:</label>
	  			<div class="col-md-4" >
	  				<input type="text" readonly class="form-control-plaintext" id="sellerProject" th:value="${seller.pdiCampaignProject}">	  				
	  			</div>
	  		</div>
	  		</fieldset>
	  		<div class="row mt">
	  			<div class="col-md-12">
	  				<h3 id="orderTitle" th:text="#{order.detail.title}">bon de commande</h3>
	  			</div>
	  		</div>	 	  		 			
			<div class="form-check text-right">
				<input type="checkbox" class="form-check-input" id="consent" required>
				<label for="consent" class="form-check-label"><small th:text="#{order.buyer.consent}">je consens...</small></label>	  					  				  					  					  					  		
				<div class="invalid-feedback" th:text="#{field.consent.required}"></div>
			</div>
  	</th:block>
	</body>
</html>