<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>		
	<th:block th:fragment="header">  		
  		<div class="row">
  			<div class="col-md-12">
  				<h3 th:text="#{order.new}">nouvelle commande</h3>
  			</div>
  		</div>
  		<!--/* Messages */-->
		<div class="row">
			<div class="col-md-12">
				<div th:if="${failure}" class="alert alert-danger" th:text=#{order.error.failure}></div>
				<div class="alert alert-warning d-none" id="order-msg-error">Une erreur est survenue...</div>
			</div>
		</div>
  		<form id="buyerForm" class="needs-validation" novalidate>  			  			  	
	  		<fieldset>
    		<legend th:text="#{order.buyer.infos}">infos de l'acheteur</legend>
	  		<div class="row">
	  			<div class="col-md-6">
	  				<div class="form-group row">
		  			<label for="name" class="col-lg-2 col-form-label" th:text="|#{order.buyer.name} :|">nom:</label>
		  			<div class="col-lg-10">
		  				<input type="text" class="form-control" id="name" name="name" th:placeholder="#{order.buyer.name.help}" required>
		  				<div class="invalid-feedback" th:text="#{field.required}"></div>
		  			</div>
		  			</div>
		  		</div>
		  		<div class="col-md-6">
			  		<div class="form-group row">
			  			<label for="phone" class="col-lg-2 col-form-label" th:text="|#{order.buyer.phone} :|">telephone:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="phone" name="phone" th:placeholder="#{order.buyer.phone.help}" required>
			  				<div class="invalid-feedback" th:text="#{field.required}"></div>
			  			</div>
			  		</div>
		  		</div>
	  		</div>	  
	  		
	  		<div class="row">
	  			<div class="col-md-6">
	  				<div class="form-group row">
		  			<label for="email" class="col-lg-2 col-form-label" th:text="|#{order.buyer.email} :|">email:</label>
		  			<div class="col-lg-10">
		  				<input type="email" class="form-control" id="email" name="email" th:placeholder="#{order.buyer.email.help}" required>
		  				<div class="invalid-feedback" th:text="#{field.valid.email}"></div>
		  			</div>
		  			</div>
		  		</div>
	  			<div class="col-md-6">
		  			<div class="form-group row">
			  			<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.note} :|">note:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="note" name="note" th:placeholder="#{order.buyer.note.help}">
			  			</div>
		  			</div>
	  			</div>
	  		</div>	
	  		</fieldset>
	  				
	  		<fieldset>
    		<legend th:text="#{order.buyer.billingAddress}">adresse de facturation</legend>
	  		<div class="row">
	  			<div class="col-md-6">
	  				<div class="form-group row">
	  					<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.addr1} :|">addresse ligne 1:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="address.line1" name="address.line1" required>
			  				<div class="invalid-feedback" th:text="#{field.required}"></div>
			  			</div>
	  				</div>
	  				<div class="form-group row">
	  					<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.addr2} :|">addresse ligne 2:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="address.line2" name="address.line2">
			  			</div>
	  				</div>
	  				<div class="form-group row">
	  					<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.addr3} :|">addresse ligne 3:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="address.line3" name="address.line3">
			  			</div>
	  				</div>
	  			</div>
	  			<div class="col-md-6">
	  				<div class="form-group row">
	  					<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.city} :|">ville:</label>
			  			<div class="col-lg-10">
			  				<input type="text" class="form-control" id="address.city" name="address.city" required>
			  				<div class="invalid-feedback" th:text="#{field.required}"></div>
			  			</div>
	  				</div>
	  				<div class="form-group row">
	  					<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.state} :|">province:</label>
			  			<div class="col-lg-10">
			  				<select class="form-control" id="address.state" name="address.state" required>
			  					<option></option>
			  					<option th:each="entry : ${provinces}" th:value="${entry.key}" th:text="${entry.value}"></option>
			  				</select>
			  				<div class="invalid-feedback" th:text="#{field.required}"></div>
			  			</div>
	  				</div>
	  				<div class="form-group row">
	  					<label for="note" class="col-lg-2 col-form-label" th:text="|#{order.buyer.zip} :|">code postal:</label>
			  			<div class="col-lg-10">
			  				<input type="text" pattern="^(?!.*[DFIOQU])[A-VXY][0-9][A-Z] ?[0-9][A-Z][0-9]$" class="form-control" id="address.postalCode" name="address.postalCode" required>
			  				<div class="invalid-feedback" th:text="#{field.valid.postalCode}"></div>
			  			</div>
	  				</div>
	  			</div>
	  		</div>	
	  		<div class="form-group row">
	  			<div class="col-lg-10 offset-lg-1">
	  				<div class="form-check">
	  				<input type="checkbox" class="form-check-input" id="consent" required>	  				
	  				<label for="consent" class="col-lg-10 form-check-label"><small th:text="#{order.buyer.consent}">je consens...</small></label>
	  				<div class="invalid-feedback" th:text="#{field.consent.required}"></div>
	  				</div>	  				
	  			</div>	  			
	  		</div>	  		 	
	  		</fieldset>	  			  		
	  		<fieldset>
    		<legend th:text="#{order.seller.infos}">infos du vendeur</legend>
	  		<div class="row">
	  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.name} :|">nom:</label>
	  			<div class="col-md-4" >
	  				<input type="text" readonly class="form-control-plaintext" id="sellerName" th:value="${seller.name}">
	  			</div>
	  			<!-- /* Display group only if it exists */ -->
	  			<th:block th:unless="${#strings.isEmpty(seller.pdiGroupName)}">
		  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.group} :|">groupe:</label>
		  			<div class="col-md-4" >
		  				<input type="text" readonly class="form-control-plaintext" id="sellerGroup" th:value="${seller.pdiGroupName}">
		  			</div>
	  			</th:block>
	  		</div>
	  		<div class="row">
	  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.organization} :|">organisme:</label>
	  			<div class="col-md-4" >
	  				<input type="text" readonly class="form-control-plaintext" id="sellerOrganization" th:value="${seller.pdiCampaignOrganization}">	  				
	  			</div>
	  		</div>
	  		<div class="row">
	  			<label class="col-md-2 col-form-label" th:text="|#{order.seller.project} :|">projet:</label>
	  			<div class="col-md-4" >
	  				<input type="text" readonly class="form-control-plaintext" id="sellerProject" th:value="${seller.pdiCampaignProject}">	  				
	  			</div>
	  		</div>
	  		</fieldset>
	  		<div class="row mt">
	  			<div class="col-md-12">
	  				<h3 id="orderTitle" th:text="#{order.detail.title}">bon de commande</h3>
	  			</div>
	  		</div>	  	  		 		
  		</form>
  	</th:block>
	</body>
</html>