<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<th:block th:fragment="items">	
			<div class="sticky-top">
	  			<div class="row">
	  				<div class="col-sm-4">
	  					<a th:href="@{/produits}" class="btn btn-info" target="_blank">
						  Voir les produits
						</a>
	  				</div>
	  				<div class="col-sm-8 text-right">
	  					<span id="total" class="font-weight-bold mr-4">0.00$</span>	  						  						  					  					  					
						<button id="checkout-button" class="btn btn-info btn-lg" type="button" disabled th:text="#{order.pay}">Payer</button>
					</div>
	  			</div>
	  		</div>	  		 	
	  		<div class="row">
	  			<div class="col-sm-12" th:text="#{order.detail.help}">veuillez entre la qte desiree...</div>
	  		</div>
	  		<th:block th:each="product, iterStatus : ${products}">	  			
	  			<th:block th:with="previousCategory=${iterStatus.index < 1 ? -1 : products[iterStatus.index-1].categoryId}">
	  				<th:block th:if="${previousCategory != product.categoryId}">
	  					<!-- /* Print the category info */ -->
	  					<div class="row bg-primary text-white p-3" th:switch="${#locale.language}">
	  						<div th:case="'en'" class="col-md-12 text-center" th:text="${product.categoryDescEn}">category</div>
	  						<div th:case="*" class="col-md-12 text-center" th:text="${product.categoryDescFr}">categorie</div>
	  					</div>
	  				</th:block>
	  				<!-- /* Print the product info */ -->
	  				<div class="row my-1">
	  					<div class="col-sm-1" th:text="${product.labelNumber}">#12</div>
	  					<div class="col-sm-2">
	  						<input type="number" min="0" th:placeholder="#{order.quantity}" class="form-control text-center qty" th:attr="data-id=${product.id}">
	  					</div>
	  					<div class="col-sm-1" th:text="|${#numbers.formatDecimal(product.unitPrice, 1, 2,'COMMA')}$|">5.00$</div>
	  					<div class="col-sm-3" th:switch="${#locale.language}">
	  						<span th:case="'en'" th:text="${product.nameEn}">Black Pepper</span>
	  						<span th:case="*" th:text="${product.nameFr}">Poivre blanc</span>
	  					</div>
	  					<div class="col-sm-3" th:switch="${#locale.language}">
	  						<span th:case="'en'" th:text="${product.descriptionEn}">Lorem ipsum...</span>
	  						<span th:case="*" th:text="${product.descriptionFr}">Lorem ipsum...</span>
	  					</div>
	  					<div class="col-sm-2" th:text="${product.weight}">28 g</div> 	  					
	  				</div>
	  			</th:block>
	  		</th:block>	  	
	  		
	  		<script th:inline="javascript">
	  			var total = 0.0;
	  			var products = /*[[${products}]]*/ null;
	  			// Array of objects
	  			var chosenProducts = [];	 
	  			
	  			function saveChosenProduct(chosenProduct){
	  				let found = chosenProducts.find(p => p.id == chosenProduct.id);
	  				if(found){
	  					found.qty = chosenProduct.qty;
	  				} else {
	  					chosenProducts = [...chosenProducts, chosenProduct];
	  				}	  				
	  			}
	  			
	  			function removeChosenProduct(chosenProduct){
	  				let foundIndex = chosenProducts.findIndex(p => p.id == chosenProduct.id);
	  				if(foundIndex >= 0){
	  					chosenProducts.splice(foundIndex,1);
	  				}
	  			}
	  			
	  			function updateTotal(){
	  				total = chosenProducts.map(p => p.qty * p.unitPrice).reduce((acc,price) => acc + price, 0.0);	  				
	  				$('#total').text(total.toFixed(2) + '$');
  					if(total > 0){
  						$('#checkout-button').attr('disabled', false);  						  						
  					} else {
  						$('#checkout-button').attr('disabled', true);
  					}  					
	  			}
	  			
	  			//***********************************************
	  			// DOM READY
	  			$(function(){
	  				if(sessionStorage.getItem('orderData')){
	  					let orderData = JSON.parse(sessionStorage.getItem('orderData'));
	  					// Fill in header info
	  					$('input[name="name"]').val(orderData.name);
	  					$('input[name="phone"]').val(orderData.phone);
	  					$('input[name="note"]').val(orderData.note);
	  					$('input[name="email"]').val(orderData.email);
	  					$('input[name="address.line1"]').val(orderData.address.line1);
	  					$('input[name="address.line2"]').val(orderData.address.line2);
	  					$('input[name="address.line3"]').val(orderData.address.line3);	  						
	  					$('input[name="address.city"]').val(orderData.address.city);
	  					$('select[name="address.state"]').val(orderData.address.state);
	  					$('input[name="address.postalCode"]').val(orderData.address.postalCode);		  						
	  					
	  					// Fill in item quantities
	  					chosenProducts = orderData.items;
	  					chosenProducts.forEach(function(item){
	  						$('input.qty[data-id="' + item.id + '"]').val(item.qty);
	  					});	
	  					updateTotal();
	  				}	  					  					  					  				
	  				
	  				$('.qty').on('change', function(){
	  					// Add/update product in lookup table	  				  					
	  					let qty = Number($(this).val());
	  					let productId = $(this).data('id');
	  					let product = products.filter( p => p.id === productId);
	  					let chosenProduct = {
	  							id: productId,
	  							unitPrice: product[0].unitPrice,
	  							qty: qty
	  					};
	  					if(qty > 0){	  	  					
	  						saveChosenProduct(chosenProduct);
	  					} else {
	  						removeChosenProduct(chosenProduct);
	  					}	  				  					
	  					updateTotal();
	  				});	  			
	  			
		  			// GLOBAL stuff		  			
		  			RealexHpp.setHppUrl(/*[[${globalServiceUrl}]]*/ 'https://pay.sandbox.realexpayments.com/pay');
		  			
                    $('#checkout-button').on('click', function(){
                        $('#buyerForm').submit();
                    })
                        
                    $('#buyerForm').on('submit', function(event){
                        event.preventDefault();
                        event.stopPropagation();	  						  			
		  		      	sessionStorage.clear();
		  				
		  		      	// Get the input data
		  				let orderData = {
		  					name: $('input[name="name"]').val(),
		  					phone: $('input[name="phone"]').val(),
		  					note: $('input[name="note"]').val(),
		  					email: $('input[name="email"]').val(),
		  					address: {
		  						line1: $('input[name="address.line1"]').val(),
		  						line2: $('input[name="address.line2"]').val(),
		  						line3: $('input[name="address.line3"]').val(),
		  						city:  $('input[name="address.city"]').val(),
		  						state: $('select[name="address.state"]').val(),
		  						postalCode:$('input[name="address.postalCode"]').val(),
		  						country: "CANADA"
		  					},
		  					sellerId: /*[[${seller.id}]]*/ '0',
		  					items: chosenProducts
		  				};
	  					
	  					// Save them in session storage	  					
	  					sessionStorage.setItem('orderData', JSON.stringify(orderData));
	  					
	  					// Check validity
	  					if (this.checkValidity() === false) {
		  					this.classList.add('was-validated');		  				
		  		          	return false;
		  		        }
		  				this.classList.add('was-validated');
		  				
	  					// Validated, go !	  					
		  				$.post({
		  					url: location.origin + '/api/global/checkout/',
		  					data: JSON.stringify(orderData),
		  					contentType: 'application/json'	  					
		  				})	  				
		  				.then(function(hppJson){
		  					let hppData = JSON.parse(hppJson);
		  					let responseUrl = location.origin + '/api/global/response';		  					  					
		  					RealexHpp.lightbox.init("autoload", responseUrl, hppData);
		  					$('body').addClass('loaded');
		  				})	  				
		  				.fail(function(err){ 						
							console.log(err.responseJSON);
							if(err.responseJSON && err.responseJSON.message){
								displayError(err, '#order-msg-error', `ERREUR : ${err.responseJSON.message}`);	
							} else {
								displayError(err, '#order-msg-error', /*[[#{order.error.checkout}]]*/'Erreur');
							}
						});		  				
		  			});
		  			
	  			});
	  			//***********************************************
	  		</script>
	  			  		
		</th:block>
	</body>
</html>