<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<th:block th:fragment="items">	
			<div id="pay-sticky" class="sticky-top">
	  			<div class="row">
	  				<div class="col-md-3">
	  					<a th:href="@{/produits}" class="btn btn-info" target="_blank" th:text="#{order.formats}">
						  Voir les produits
						</a>
	  				</div>
	  				<div class="col-md-9 text-right">
						<div class="row">
							<div class="col-md-7 col-lg-8">
								<span id="invalid-alert" class="alert-danger d-none px-1">SVP veuillez corriger les erreurs dans le formulaire</span>
							</div>
							<div class="col-md-5 col-lg-4">
								<h3>
									<span id="total" class="font-weight-bold mr-4 badge badge-pill badge-success">0.00$</span>
									<button id="checkout-button" class="btn btn-info btn-lg" type="button" disabled th:text="#{order.pay}">Payer</button>
								</h3>
							</div>
						</div>
					</div>
	  			</div>
	  		</div>	  		 	
	  		<div class="row">
	  			<div class="col-sm-12" th:text="#{order.detail.help}">veuillez entre la qte desiree...</div>
	  		</div>
	  		<th:block th:each="product, iterStatus : ${products}">	  			
	  			<th:block th:with="previousCategory=${iterStatus.index < 1 ? -1 : products[iterStatus.index-1].categoryId}">
	  				<th:block th:if="${previousCategory != product.categoryId}">
	  					<!-- /* Print the category info */ -->
	  					<div class="row bg-primary text-white p-3" th:switch="${#locale.language}">
	  						<div th:case="'en'" class="col-md-12 text-center" th:text="${product.categoryDescEn}">category</div>
	  						<div th:case="*" class="col-md-12 text-center" th:text="${product.categoryDescFr}">categorie</div>
	  					</div>
	  				</th:block>
	  				<!-- /* Print the product info */ -->
	  				<div class="row my-1 border-bottom">
	  					<div class="col-sm-1" th:text="${product.labelNumber}">#12</div>
	  					<div class="col-sm-2">
	  						<input type="number" min="0" max="100000" th:placeholder="#{order.quantity}" class="form-control text-center qty" th:attr="data-id=${product.id}">
							<div class="invalid-feedback" th:text="#{field.qty.minmax}"></div>
	  					</div>
	  					<div class="col-sm-1" th:text="|${#numbers.formatDecimal(product.unitPrice, 1, 2,'COMMA')}$|">5.00$</div>
	  					<div class="col-sm-3" th:switch="${#locale.language}">
	  						<span th:case="'en'" th:text="${product.nameEn}">Black Pepper</span>
	  						<span th:case="*" th:text="${product.nameFr}">Poivre blanc</span>
	  					</div>
	  					<div class="col-sm-3" th:switch="${#locale.language}">
	  						<span th:case="'en'" th:text="${product.descriptionEn}">Lorem ipsum...</span>
	  						<span th:case="*" th:text="${product.descriptionFr}">Lorem ipsum...</span>
	  					</div>
	  					<div class="col-sm-1" th:text="${product.weight}">28 g</div>
						<div class="col-sm-1" th:switch="${#locale.language}">
							<span th:case="'en'" th:text="${product.formatEn}">bag</span>
							<span th:case="*" th:text="${product.formatFr}">sachet</span>
						</div>
	  				</div>
	  			</th:block>
	  		</th:block>	  	
	  		
	  		<script th:inline="javascript">
	  			var total = 0.0;
	  			var products = /*[[${products}]]*/ null;
	  			// Array of objects
	  			var chosenProducts = [];	 
	  			
	  			function saveChosenProduct(chosenProduct){
	  				let found = chosenProducts.find(p => p.id == chosenProduct.id);
	  				if(found){
	  					found.qty = chosenProduct.qty;
	  				} else {
	  					chosenProducts = [...chosenProducts, chosenProduct];
	  				}	  				
	  			}
	  			
	  			function removeChosenProduct(chosenProduct){
	  				let foundIndex = chosenProducts.findIndex(p => p.id == chosenProduct.id);
	  				if(foundIndex >= 0){
	  					chosenProducts.splice(foundIndex,1);
	  				}
	  			}
	  			
	  			function updateTotal(){
	  				total = chosenProducts.map(p => p.qty * p.unitPrice).reduce((acc,price) => acc + price, 0.0);	  				
	  				$('#total').text(total.toFixed(2) + '$');
  					if(total > 0){
  						$('#checkout-button').attr('disabled', false);  						  						
  					} else {
  						$('#checkout-button').attr('disabled', true);
  					}  					
	  			}

	  			function getValidationErrorMessage() {
	  				if (!$('input#name')[0].checkValidity()) {
	  					return /*[[#{field.required.name}]]*/'';
	  				}
	  				if (!$('input#phone')[0].checkValidity()) {
	  					return /*[[#{field.required.phone}]]*/'';
	  				}
	  				if (!$('input#email')[0].checkValidity()) {
	  					return /*[[#{field.required.email}]]*/'';
	  				}
	  				if (!$('input#consent')[0].checkValidity()) {
	  					return /*[[#{field.consent.required}]]*/'';
	  				}
	  			}
	  			
	  			//***********************************************
	  			// DOM READY
	  			$(function(){
	  				if(sessionStorage.getItem('orderData')){
	  					let orderData = JSON.parse(sessionStorage.getItem('orderData'));
	  					// Fill in header info
	  					$('input[name="name"]').val(orderData.name);
	  					$('input[name="phone"]').val(orderData.phone);
	  					$('input[name="note"]').val(orderData.note);
	  					$('input[name="email"]').val(orderData.email);
	  					
	  					// Fill in item quantities
	  					chosenProducts = orderData.items;
	  					chosenProducts.forEach(function(item){
	  						$('input.qty[data-id="' + item.id + '"]').val(item.qty);
	  					});	
	  					updateTotal();
	  				}

	  				function clearErrorMsg() {
	  					$('#invalid-alert').addClass('d-none');
                    	$('#invalid-alert').text('');
	  				}

	  				$('input,checkbox').on('change', clearErrorMsg);
	  				
	  				$('.qty').on('change', function(){
	  					// Add/update product in lookup table	  				  					
	  					let qty = Number($(this).val());
	  					let productId = $(this).data('id');
	  					let product = products.filter( p => p.id === productId);
	  					let chosenProduct = {
	  							id: productId,
	  							unitPrice: product[0].unitPrice,
	  							qty: qty
	  					};
	  					if(qty > 0){	  	  					
	  						saveChosenProduct(chosenProduct);
	  					} else {
	  						removeChosenProduct(chosenProduct);
	  					}	  				  					
	  					updateTotal();
	  				});	  			
	  			
		  			// GLOBAL stuff		  			
		  			RealexHpp.setHppUrl(/*[[${globalServiceUrl}]]*/ 'https://pay.sandbox.realexpayments.com/pay');
		  			
                    $('#checkout-button').on('click', function(){
                        $('#buyerForm').submit();
                    })
                        
                    $('#buyerForm').on('submit', function(event){
                        event.preventDefault();
                        event.stopPropagation();	  						  			
		  		      	sessionStorage.clear();

		  		      	clearErrorMsg();
		  				
		  		      	// Get the input data
		  				let orderData = {
		  					name: $('input[name="name"]').val(),
		  					phone: $('input[name="phone"]').val(),
		  					note: $('input[name="note"]').val(),
		  					email: $('input[name="email"]').val(),
		  					sellerId: /*[[${seller.id}]]*/ '0',
		  					items: chosenProducts
		  				};
	  					
	  					// Save them in session storage	  					
	  					sessionStorage.setItem('orderData', JSON.stringify(orderData));
	  					
	  					// Check validity
	  					if (this.checkValidity() === false) {
	  						// Display error message
	  						let msg = getValidationErrorMessage();
	  						if (!msg) {
	  							// Then it's a qty that's invalid
	  							msg = /*[[#{field.qty.invalid}]]*/'';
	  						} else {
	  							window.scrollTo(0,0);
	  						}
	  						$('#invalid-alert').text(msg);
	  						$('#invalid-alert').removeClass('d-none');
		  					this.classList.add('was-validated');
		  		          	return false;
		  		        }
		  				this.classList.add('was-validated');
		  				
	  					// Validated, go !	  					
		  				$.post({
		  					url: location.origin + '/api/global/checkout/',
		  					data: JSON.stringify(orderData),
		  					contentType: 'application/json'	  					
		  				})	  				
		  				.then(function(hppJson){
		  					let hppData = JSON.parse(hppJson);
		  					let responseUrl = location.origin + '/api/global/response';		  					  					
		  					RealexHpp.lightbox.init("autoload", responseUrl, hppData);
		  					$('body').addClass('loaded');
		  				})	  				
		  				.fail(function(err){ 						
							console.log(err.responseJSON);
							if(err.responseJSON && err.responseJSON.message){
								displayError(err, '#order-msg-error', `ERREUR : ${err.responseJSON.message}`);	
							} else {
								displayError(err, '#order-msg-error', /*[[#{order.error.checkout}]]*/'Erreur');
							}
						});		  				
		  			});
		  			
	  			});
	  			//***********************************************
				// Code below is to react when HPP overlay appears in the page : we then want to remove sticky
				// elements, and put them back when overlay disappears.
				// Select the node that will be observed for mutations
	  			const bodyNode = document.body;

	  			// Options for the observer (which mutations to observe)
	  			const config = { childList: true};

				// Callback function to execute when mutations are observed
				const callback = (mutationList, observer) => {
				  for (const mutation of mutationList) {
					if (mutation.type === 'childList') {
					  //console.log('A child node has been added or removed.');
					  if (mutation.addedNodes.length > 0 && mutation.addedNodes[0].id && mutation.addedNodes[0].id.includes('rxp-overlay')) {
					  	console.log('Remove sticky');
					  	$('#pay-sticky').removeClass('sticky-top');
					  } else if (mutation.removedNodes.length > 0 && mutation.removedNodes[0].id && mutation.removedNodes[0].id.includes('rxp-overlay')) {
					  	console.log('Put back sticky');
					  	$('#pay-sticky').addClass('sticky-top');
					  }
					}
				  }
				};
				// Create an observer instance linked to the callback function
				const observer = new MutationObserver(callback);

				// Start observing the target node for configured mutations
				observer.observe(bodyNode, config);
	  		</script>
	  			  		
		</th:block>
	</body>
</html>