<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>		
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<style>
			.font-weight-bold { font-weight: bold; }
			.text-center { text-align: center; }
			.text-right { text-align: right; }
			.ital { font-style: italic; }			
			table { border: 1px solid black;
					border-collapse: collapse;
					width: 75%; }
			td { border: 1px solid black; }
				
		</style>
    </head>
    <body> 
    	<div class="text-center">    		
    		<h2 th:text="#{email.summary.subtitle}">Campagne de financement avec Poivre des iles</h2>
    	</div>         	
  		<p class="text-center ital" th:text="#{email.summary.note}">vous recevez ce message car blablabla</p>
		<h2 th:text="#{summary.title}">synthese des ventes</h2>
		<h4><span th:text="#{summary.totalAmount}">montant total</span> : <span th:text="${campaignRecap.formattedTotalSales}">4500.00$</span></h4>
	
		<h4><span th:text="#{summary.profit}">profit</span> : <span th:text="${campaignRecap.formattedTotalProfit}">2250.00$</span></h4>
		  				
		<h4><span th:text="#{summary.subtitle}">synthese de la campagne</span></h4>
		<p><span class="font-weight-bold" th:text="#{summary.organization}">organisme</span>:
			<span th:text="${campaignRecap.organizationName}">Ecole ABC</span>
		</p>
				
		<p><span class="font-weight-bold" th:text="#{summary.project}">Projet</span>:
		   <span th:text="${campaignRecap.project}">Financement voyage scolaire</span>
		</p>
				
				
		<p><span class="font-weight-bold" th:text="#{summary.leader}">Responsable de la campagne</span>:
		<span th:text="${campaignRecap.leaderName}">Guy Lanctot</span>
		</p>
				  				
		<p class="font-weight-bold" th:text="#{summary.details}">details</p>
					
		<th:block th:if="${campaignRecap.totalNumGroups > 1}">
			<table>				
					<tr class="font-weight-bold text-center">
						<td style="width: 33%" th:text="#{summary.groupName}">nom du groupe</td>
						<td style="width: 33%" th:text="#{summary.numOrders}">nb de commandes</td>
						<td style="width: 33%" th:text="#{summary.salesTotal}">total de ses ventes</td>
					</tr>				
					<tr th:each="groupRecap : ${campaignRecap.pdiGroupRecaps}">
						<td class="text-center" th:text="${groupRecap.groupName}">classe 501</td>
						<td class="text-center" th:text="${groupRecap.numPaidOrders}">32</td>
						<td class="text-right" th:text="${groupRecap.formattedTotalSales}">1100$</td>
					</tr>				
			</table>
		</th:block> 
		<th:block th:if="${campaignRecap.totalNumGroups <= 1}" th:with="groupRecap = ${campaignRecap.pdiGroupRecaps[0]}">
			<table>				
					<tr class="font-weight-bold text-center">
						<td style="width: 33%" th:text="#{summary.sellerName}">nom du vendeur</td>
						<td style="width: 33%" th:text="#{summary.numOrders}">nb de commandes</td>
						<td style="width: 33%" class="text-right" th:text="#{summary.salesTotal}">total de ses ventes</td>
					</tr>				
					<tr th:each="sellerRecap : ${groupRecap.pdiSellerRecaps}">
						<td class="text-center" th:text="${sellerRecap.sellerName}">Pierre Deschamps</td>
						<td class="text-center" th:text="${sellerRecap.numPaidOrders}">32</td>
						<td class="text-right" th:text="${sellerRecap.formattedTotalSales}">1100$</td>
					</tr>				
			</table>
		</th:block>
					
		<p class="font-weight-bold" th:text="#{summary.campaignTotal}">total de la campagne</p>					
		<table>			
				<tr class="font-weight-bold text-center">
					<td style="width:33%" th:if="${campaignRecap.totalNumGroups > 1}" 
						th:text="#{summary.groups(${campaignRecap.totalNumGroups})}">30 groupes</td>
					<td style="width:33%" th:if="${campaignRecap.totalNumGroups <= 1}" >60 vendeurs</td>
					<td style="width:33%" th:text="${campaignRecap.totalNumPaidOrders}">562</td>
					<td style="width:33%" class="text-right" th:text="${campaignRecap.formattedTotalSales}">4500$</td>
				</tr>			
		</table>							  
    </body>
    <br/><br/>
    <p class="ital"><span th:text="#{email.noreply}">Veuillez ne pas repondre a ce message.</span>
    			   <span th:utext="#{email.contact('http://www.poivredesiles.com/contact.html')}">Pour toute question, contactez-nous</span>
    </p>
    <p class="ital" th:text="#{email.generated}">
    	Ce courriel a ete genere automatiquement par la plateforme 
    </p>
</html>    