<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        	.ital {
        		font-style: italic;
        	}
        	.bold {
        		font-weight: bold;
        	}
        	.blue {
        		color: blue;
        	}
        </style>
</head>
<body>
    <h2>Une question a été envoyée</h2>
    <p><span class="bold">Organisation: </span><span th:text="${contactMessage.organization}">Compagnie XYZ</span></p>
    <p><span class="bold">Campagne #: </span><span th:text="${contactMessage.campaignNumber}">12456</span></p>
    <p><span class="bold">Nom du responsable: </span><span th:text="${contactMessage.name}">Gontrand Leroit</span></p>
    <p><span class="bold">Message: </span><span th:text="${contactMessage.message}">Bla bla bla</span></p>
    <p class="ital" th:text="#{email.noreply}">Veuillez ne pas repondre a ce message.</p>
    <p class="ital" th:text="#{email.generated}">
        Ce courriel a ete genere automatiquement par la plateforme
    </p>
</body>
</html>